<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear</title>
<style>
th, td {
	border: 1px solid green;
	padding: 4px;
}

table {
	border-collapse: collapse;
}
</style>
</head>
<body>
	<h1>Nuevo proveedor</h1>
	<table>
	<tr>
		<th>NIF</th>
		<th>Nombre</th>
		<th>Apellidos</th>
		<th>Fecha</th>
	</tr>
	<tr>
		<td th:text="*{proveedor.nif}"></td>
		<td th:text="*{proveedor.nombre}"></td>
		<td th:text="*{proveedor.apellidos}"></td>
		<td th:text="*{proveedor.fecha}"></td>
	</tr>
	</table>
		
	<p><a th:href="@{'/' + ${ruta}}">Volver</a>
</body>
</html>